.timeline-tag {
    position: relative;
    /* min-width: 60%; */
    max-width: 80%;
    margin: 0 auto;
  }
  
  .timeline-tag::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .card-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  

  .card-container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 60%;
    z-index: 1;
  }
  
  .left-side {
    left: 0;
  }
  
  .right-side {
    left: 50%;
  }
  
  .left-side::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right-side::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right-side::after {
    left: -16px;
  }
  
  .card-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  

  @media screen and (max-width: 570px) {
    .timeline-tag {
      position: relative;
      /* min-width: 60%; */
      max-width: 80%;
      margin: 0 auto;
    }
    
    .timeline-tag::after {
      content: '';
      position: relative;
      width: 6px;
      background-color: white;
      top: 0;
      bottom: 0;
      left: 40%;
      margin-left: -2em;
    }
    .card-container {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 40%;
    }

    .card-container {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 75%;
    }

    .left-side::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 8em;
      border: medium solid white;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent white;
    }
    .right-side::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 10em;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
    .timeline-tag::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: white;
      top: 0;
      bottom: 0;
      left: 65%;
      margin-left: -3px;
    }
  }